body {
    background-image: url(https://github.com/Oth-mane1/Calm/blob/main/images/lake.jpg?raw=true);
    text-align: center;
}

.card {
    margin: 1em;
    text-align: center;
}

h1 {
    color: rgb(27, 35, 46);
}

